{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="display-4 my-5">Création de compte</h1>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email, {
            label: 'Email' 
        }) }}
       <br />
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe' 
        }) }}
        <br />
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Veuillez accepter les conditions d\'utilisation.'
        }) }}
   
        <button type="submit" id="registerButton" class="btn btn-outline-info my-3 py-2">S'enregistrer</button>

    {{ form_end(registrationForm) }}
{% endblock %}
